<h1>Appointment#index</h1>
<p>Find me in app/views/appointment/index.html.erb</p>

<iframe src="https://calendar.google.com/calendar/embed?src=afzal.test11%40gmail.com&ctz=Asia/Karachi" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>
